.body{
	/*background-color: #d0e0eb;*/
	width: auto;
	margin-left: 200px; 
	margin-right: 200px;
	text-align: center;
	background-color: #d0e0eb;
	background-image: url("../img/toothbrush.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 60%;
}

#title-box {
	display: block;
	padding: 20px;
	margin: 20px;
	color: black;
}

.question-box {
	text-align: left;
	margin: 35px;
	padding: 40px;
	background-color: rgba(255,255,255,0.7); 
}

#question-container {
	margin-top: 20px;
}

.footer {
	margin: 60px;
}

.innholdbilder{
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
}

#plan{
	margin: auto;
}