#email-icon {
	margin-left: -2px;
}
#postnummer {
	margin-left: 30px;
}

.tid {
	padding-bottom: 10px;
}

.bilde{
	position: relative;
	border-radius: 50%;
	width: 60%;

#infoBedrift{
	padding-right: 10%;
	padding-left: 10%;
}

.person{
	width: 27%;
	margin: auto;
	padding-top: 10%;
}

#innhold{
	display: flex;
	flex-wrap: wrap;
	padding-right: 10%;
	padding-left: 10%;
}

.informasjon{
}

.bilde{
	position: relative;
	border-radius: 50%;
	width: 60%;
}

@media only screen and (max-width: 768px){
	.person{
		width: 60%;
	}
}
