@charset "utf-8";
/* CSS Document */

		#FAQ_search_div{
			text-align: center;
		}

		#FAQ_search_bar{
			width: 600px;
			font-size: 22px;
			padding: 12px 20px 12px 20px;
			border: 1px solid #94E3D2;
			border-radius: 10px;
			margin-bottom: 12px;
			background-color: #EAFFFB;
			color: #1C8D74;
			outline: none;
		}
		
		#FAQ_list{
			width: 600px;
			margin: auto;
			margin-top: 30px;
			list-style-type: none;
			padding-left: 0px;
		}
		
		.question{
			color: #1C8D74;
			cursor: pointer;
			padding-left: 40px;
			padding-bottom: 13px;
			width: 100%;
			border: none;
			outline: none;
			font-size: 22px;
			line-height: 0.5;
			text-transform: uppercase;
			border-bottom: 1px solid #76BAAB;
			transition: 0.4s;
			font-family: bigJohnRegular;
			text-align: left;
		}
		
		.question:hover {
			color: #76BAAB;
		}
		
		p{
			margin: 0;
			margin-bottom: 5px;
		}
		
		.answer{
			font-size: 18px;
			color: #1C8D74;
			max-height: 0;
  			overflow: hidden;
    		transition: 0.4s ease-in-out;
    		opacity: 0;
			padding: 0px 0px 0px 60px;
		}
		
		.show{
			opacity: 1;
    		max-height: 500px;
			padding: 10px 0px 20px 60px;
			border-bottom: 1px solid #76BAAB;
		}
		
		.question:before{
			content:"";
			background: url("img/icons/PLUS.svg");
			width: 25px;
			height: 25px;
			display: block;
			position: relative;
			bottom: -17px;
			left: -33px;
		}

		.active:before {
			content:"";
			background: url("img/icons/MINUS.svg");
			width: 25px;
			height: 25px;
			display: block;
			position: relative;
			bottom: -17px;
		}
		
		.active{
			border: none;
		}
		
		@media only screen and (max-width: 768px) {
			#FAQ_search_bar{
				width: 100%;
				border-radius: 0px;
			}
			#FAQ_list{
				width: 100%;
				line-height: normal;
			}
			.question{
				line-height: 1;
			}
			.question:before{
				bottom:-21px;
			}
		}
		