@font-face{
    font-family: bigJohnRegular;
    src : url(font/BigJohnPRO-Regular.otf);
    weight: 100;
}

body{
    margin: 0;
    font-family: bigJohnRegular;
}

.header{
	font-size: 60px;
	text-align: center;
	color: #1C8D74;
}

.navbar{
    width: 100%;
    background-color: rgba(148,227,210,1.0);
    height: 70px;
    font-size: 15px;
}

.navbar a{
    color: rgba(28,141,116,1.0);
    float: right;
    padding: 25px 20px;
    font-size: 14px;
    text-decoration: none;
    border-bottom: transparent;

}

.navbar a:hover{
    color: rgba(28,141,116,0.7);
}

.navbar a.active{
    border-bottom: 2px white solid;
}

.navbar #logo{
    float: left
}

/*footer*/

.footer {
	width: 100%;
	background-color: rgba(148, 227, 210, 1.0);
	height: 300px;
	text-align: left;
	display: flex;
	justify-content: center;
	padding-top: 80px;
	color: rgba(28,141,116,1.0);
	
	


}

.footer-left {
	height: 20px;
	padding-left: 200px;
	float: left;
	width: 150px;
}



.footer-right {
	height: 20px;
	padding-right: 200px;
	float: right;
	width: 100px;
}

.footer-middle {
	height: 20px;
	witdh: 100px;
	margin-left: auto;
	margin-right: auto;		
	
	
	
}
