@charset "utf-8";
/* CSS Document */

#frontpageStash {
	color: #1C8D74;
}

.tid {
	padding-bottom: 10px;
}

.contentOmOss{
	color: #1C8D74;
}

.headline{
	color: #1C8D74;
	font-size: 60px;
	font-weight: 100;
}


.miniHeadline{
	margin-left: 43%;
	color: #1C8D74;
	font-weight: 100;
	font-size: 26px;
}

.infoComp{
	padding: 2% 10% 2% 10%;
}

.person{
	width: 27%;
	margin: auto;
	margin-top: 5%;
	/*background: linear-gradient(#94E3D2, white 60%);
  	padding: 2% 2% 2% 2%;
  	border-radius: 20% 20% 0 0;*/
}
.picture{
	position: relative;
	border-radius: 50%;
	width: 80%;
	transition: transform 0.5s;
	padding-bottom: 5%;
}

.picture:hover{
	transform: scale(1.2);
}

.premisesPic{
	display: flex;
	flex-wrap: wrap;
	width: 33.33%;
	float: left;
	padding-bottom: 10%;
}

#contentPersons{
	display: flex;
	flex-wrap: wrap;
	padding-right: 10%;
	padding-left: 10%;
	text-align: center;
	vertical-align: center;
	
}
.infoPerson{
	text-align: justify;
}



#toggle{
	  cursor:pointer;
	  border:none;
	  padding:8px;
	  background: white;
	  color: #1C8D74;
}


@media only screen and (max-width: 768px){
	.person{
		width: 60%;
	}
}
#pictureSmilingGrid{
	width: 100%;
}