/* CSS Document */

#bg_img {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
	position: absolute;
}

#bg_img img{
	width: 100%;
}

#testimonials_bg{
	width: 30%;
	min-height: 200px;
	position: absolute;
	margin-top: 150px;
	margin-right: 40px;
	padding-right: 30px;
	right: 0;
	background-color: rgba(148,227,210,1.0);
	opacity: 0.9;
}

#testimonials_container {
	position: absolute;
	color: white;
	width: 90%;
	height: 65%;
	padding: 20px;
}
		
#testimonials_container img{
	position: absolute;
	height: 70px;
	opacity: 0.5;
	left: 10px;
	top: 10px;
}
		
#testimonials_container div{
	font-weight: bold;
}
		
.t_q_init{
	position: absolute;
	top: 16px;
	left: 40px;
	font-size: 23px;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.t_n_init{
	position: absolute;
	bottom: 0;
	font-size: 18px;
	opacity: 0;
	width: 100%;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

.slideOut{
	top: -6px;
	opacity: 0;
}

.slideIn{
	top: 5px;
	opacity: 1;
}

.fadeIn{
	opacity: 1;
}

.fadeOut{
	opacity: 0;
}

div p{
	margin-bottom: 0;
}


@media screen and (max-width: 768px){
	
	#bg_img {
		position: inherit;
	}
	
	#testimonials_bg{
		box-sizing: border-box;
		width: 100%;
		margin-top: 0;
		margin-right: 0;
		opacity: 1;
		position: absolute;
		padding: 20px 70px;
	}
	
	#testimonials_container{
		width: 75%;
	}
	
#pictureSmilingGrid{
	width: 100%;
}
