body{
	background-color: white;
	color: #1C8D74;
	font-family: big John Pro regular;
	font-size: 16px;
	padding-top: 10%;
	text-align: center;
}

h1{
	font-size: 50px;
}
h3{
	font-size: 30px;
	margin-bottom: 2%;
	margin-top: 5%;
}
h5{
	font-size: 16px;
	margin: 0;
}

#infoBedrift{
	padding-right: 10%;
	padding-left: 10%;
}

.person{
	width: 27%;
	margin: auto;
	padding-top: 10%;
}

#innhold{
	display: flex;
	flex-wrap: wrap;
	padding-right: 10%;
	padding-left: 10%;
}

.informasjon{
}

.bilde{
	position: relative;
	border-radius: 50%;
	width: 60%;
}

@media only screen and (max-width: 768px){
	.person{
		width: 60%;
	}
}