/* CSS Document */

/* Treatments */



.TreatText{
	width: 50%;
	padding-left: 25%;
	padding-right: 25%;	
	text-align: left;
	color: #1C8D74;
	line-height: 200%;
	font-family: bigJohnRegular;
}

.image{
	position: relative;
	width: 100%;
}

.bb{
	padding: 1%;
	width: 150%;
	color: #1C8D74;
}

.bb:hover{
	color: grey;
}

.header1{
		position: absolute; 
		top: 40%;
		left: 50%;
		z-index: 0.5;
		transform: translate(-50%, -50%);
		color: #fff;
		font-size: 200%;
}
hr{
	border-top: 1px solid #CAEAE3;
	width: 140%;
}

.line{
	position: relative;
	left: -20%;
}

.sidebar{
	text-align: left;
	list-style: none;
	position: fixed;
	top: 24%;
	padding-left: 2%;
	cursor: pointer;
}

.TreatPic{
	max-width: 50%;
	padding-left: 25%;
	padding-right: 25%;
	

}

@media only screen and (max-width: 1200px), only screen and (max-device-width: 1200px){
	hr{
		border-top: 1px solid #CAEAE3;
		width: 100%;
	}
	
	.line{
		position: relative;
		left: -20%;
	
	}
	.sidebar{
		text-align: left;
		list-style: none;
		position: fixed;
		top: 24%;
		padding-left: 2%;
		font-size: 70%;
	}
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px){

	.sidebar{
		display: none;
	}
	.TreatText{
		width: 75%;
		padding-left: 12%;
		padding-right: 12%;	
		text-align: left;
		color: #1C8D74;
		line-height: 200%;
	}
	.TreatPic{
		max-width: 75%;
		padding-left: 12%;
		padding-right: 12%;
		
	
	}

}